/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,p,iframe { margin:0; padding:0; font-size:inherit; word-break:keep-all;  font-size:12px; }
header, hgroup, footer, section, article, aside, nav, canvas, figure, figcaption { display:block; }
table { font-size:inherit; border-collapse:collapse; border-spacing:0; table-layout:fixed; }
th, td { word-wrap:break-word; word-break:break-all; }
fieldset, iframe { border:0; vertical-align:top; }
small { font-size:11px; }
img { border:0; font-size:0; vertical-align:top; }
address,cite,code,dfn,em,var { font-style:normal; font-weight:normal; }
li, dd { list-style:none; word-break:keep-all;  }
hr { display:none; }
caption { overflow:hidden;width:100%;height:1px;font-size:0;line-height:0;text-indent:-9999px; margin-top:-1px; }
legend { display:block; position:absolute; left:-9999px; text-indent:9999px; width:0; height:0; overflow:hidden; font-size:0; line-height:0; white-space:nowrap; color:#333; }
button { padding:0; border:0; cursor:pointer; background:none; vertical-align:middle; font-size:12px; font-family: Arial, Tahoma, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; line-height:1.2em; font-size:100%; }
a, a code { color:#333; text-decoration:none; }
a:active, a:active code { color:#333; }
a:hover, a:hover code, a:focus, a:focus code { color:#000; }
input { margin:0; padding:0; font-family: Arial, Tahoma, sans-serif; font-size:inherit; color:#333; line-height:19px; vertical-align:middle; -webkit-border-radius:0; }
input[type="text"], input[type="password"] { padding:3px 0 0 7px; border-left-color:#bcbcbc; border-top-color:#bcbcbc; -webkit-appearance:none; }
input.tR { padding-left:0 !important; padding-right:7px !important; }
input[type="password"] { height:21px; padding-top:0px; line-height:21px; }
input[type="radio"] { width:13px; height:13px; vertical-align:-1px; }
input[type="checkbox"] { width:13px; height:13px; vertical-align:-2px;}
input:checked[type="checkbox"]{ background-color:#fff; -webkit-appearance:checkbox; }
input[readOnly="readOnly"],input.readOnly,input[readOnly] { background-color:#e2e2e2 !important; }
input.trance { border:0; background:transparent !important; padding:0; margin:-1px 0; font-size:1em; color:#333; } /* 일반 텍스트처럼 보이나 개발에서 뿌려주는 값일 경우 */
textarea { -webkit-appearance:none; -webkit-border-radius:0; }
body{
	font-family: Arial, Tahoma, sans-serif;
	color:#F0F0F0;
}
/* Align type */
.fL { float:left !important; }
.fR { float:right !important; }

#loginwrap { width:100%; background:url("../images/bg.gif") 0 0 repeat-x; }
.loginbox { width:1040px; height:440px; margin: 0 auto; background:url("../images/login_bg.jpg") 0 0 no-repeat; }
.login { width:360px; height:135px; margin-left:350px; padding-top:248px; }
.login ul { float:left; width:289px; }
.login ul li { float:left; margin-bottom:10px; }
.input_Ty { float:left; border:solid 1px #c4c9d7; background:#fff; width:160px; height:24px;}
.mr72 { margin-right:72px; }
.pt10 { padding-top:10px; }
.user { margin:40px 0 0 105px; }
.copylight { width:1040px; color:#70777f; margin: 0 auto ; padding-top:30px; padding-bottom:30px; text-align:center; }
input password { height:30px; }

/* menu type */
.menu { width:179px; margin-top:20px; margin-left:20px; font-family:dotum; font-size:12px; }
.menu .depth1_on { background:url("../images/line.gif") 0 30px repeat-x; font-weight:bold; color:#164f92; font-size:15px; line-height:30px; }
.menu .depth1_on ul { border-bottom:solid 1px #CCC; margin-top:10px; margin-bottom:10px; padding:3px 0 10px 0 !important; }
.menu .depth1_on a { color:#164f92 !important; }

.menu .depth1{ color:#000; font-size:15px; line-height:30px; }
.menu .depth1 ul { padding:3px 0 10px 0 !important; }
.menu .depth1 a { color:#000 !important; }
.menu .depth1 span a:hover, a:active { color:#0a8bce !important; }

.menu .depth2_on { line-height:21px; font-weight:bold; color:#1660b8; background:url("../images/ico_dot.gif") 0 9px no-repeat; padding-left:7px; }
.menu .depth2 { color:#7d7d7d; line-height:21px; background:url("../images/ico_dot_g.gif") 0 9px no-repeat; padding-left:7px; }
.menu .depth2_on a { text-decoration:none; font-weight:bold; color:#1660b8 !important; }
.menu .depth2 a { color:#7d7d7d !important; }
.menu .depth2 a:hover, a:active { text-decoration:none; color:#1660b8 !important; }
.bullet { width:100%; background:url("../images/bullet.gif") right 1px no-repeat; padding-right:118px }
