/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Inspira CSS */
html, body {
	position: relative;
	min-height: 100%;
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: url("page/Session Inspira expirée_filesimages/un_img.png") no-repeat;
	background-size: auto auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin: 0;
	min-width: 320px;
	line-height: 1.5;
}
.backgroundsize body {
	background-size: cover;
	background-position: center;
}
.un_clear {
	clear: both !important;
	line-height: 0 !important;
	height: 0 !important;
	width: 0 !important;
	display: block !important;
	overflow: hidden !important;
}
.un_clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.un_clearfix {
	display: inline-block;
}

html[xmlns] .un_clearfix {
	display: block;
}

* html .un_clearfix {
	height: 1%;
}
  
.ps_hide {
	display:none; 
}

a, label {
	text-decoration: none;
	color: #666;
	transition: 0.2s;
}
a:hover {
	text-decoration: underline; 
}

.signon-main {
	margin: 0 auto;
	text-align: center; 
	padding: 50px 0 20px;
}

.ps_text_header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weght:bold;
	color: #FFFFFF;
	text-shadow: 3px 3px 3px #000000;
	width:351px; 
	display:inline-block;
	padding-bottom:14px;
	text-align:left;
}
html[dir='rtl'] .ps_text_header {
	text-align:right;
}

#lang-list {
	left: 0; right: 0;
	bottom: 0;
    background: #fff;
    padding: 5px 0;
    font-size: 13px;
	line-height: 24px;
	text-align: center;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
    background-color: rgba(255,255,255,0.5);
	position: absolute;
}

/* begin information page and expire page settings */

p.ps_loginmessagelarge {
	font-weight: bold;
    font-size: 1.2em;
}
p.ps_loginmessagelarge a {
	margin: 10px 0 0;
    font-weight: normal;
}

.expire #ps-img {
	padding: 30px;
	font-size: 13px;
	color: #666;
}
.expire #ps-img p {
	margin-bottom: 1em;
}
.expire #ps-img p:last-child {
	margin-bottom: 0;
}

/* end information page and expire page settings */

.ps_box-control {
	margin-bottom:20px;
}
.ps-box-control-action {
	margin: 0 auto 5px;
	text-align: right;
	padding: 0 2px;
}
.ps-box-control-action a {
	font-size: 0.85em;
}
.ps_box-button {
	padding-bottom: 20px;
}
.ps_box-action {
	padding-bottom: 10px;
}
.ps_box-action.last {
	padding-bottom: 0;
}

::-webkit-input-placeholder { color:#939393 !important; }
:-moz-placeholder { color:#939393 !important; }
::-moz-placeholder { color:#939393 !important; }
:-ms-input-placeholder { color:#939393 !important; }

#ps-img
{
	background: url("page/Session Inspira expirée_filesimages/un_bg-white-lock.png");
	padding: 20px 30px 44px;
	width: 400px;
	margin: 40px auto 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;
}
.rgba #ps-img {
	background-image: none;
	background-color: rgba(255,255,255,0.4);
}
#ps-img .w-form {
	position: relative;
}
.field {
	background: #fff; 
	border: 2px solid #aaa;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px; 
	border-radius: 6px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	width: 100%;
	padding: 0 10px;
	transition: 0.2s;
	outline: 0;
}
.field:hover {
	border-color: #888;
}
.field:focus {
	border-color: #6999c9;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.2) inset;
}
.field.w-img {
	background-image: url("page/Session Inspira expirée_filesimages/un_user.png");
	background-position: right center;
	background-repeat: no-repeat; 
	height:40px; 
	line-height: 36px;
	padding-right: 42px;
}
.field.w-img.pwd {
	background-image: url("page/Session Inspira expirée_filesimages/un_lock.png");
}



/* buttons */
.w-half-btn {
	width: 50%;
	float: left;
	padding-right: 10px;
}
.w-half-btn.w-btn-r {
	padding-right: 0;
	padding-left: 10px;
	float: right;
}
.ps-button {
	background: #00509a;
	margin:0; border: 0;
	padding: 0 30px;
	color:#fff;
	font-size:1.2em;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	width: 100%;
	height:40px;
	line-height: 40px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	outline: 0;
	cursor: pointer;
	transition: 0.2s;
}
.ps-button:focus, .ps-button:hover {
	background-color: #00376a;
}
.ps-button:active {
	padding-top: 1px;
	-webkit-text-shadow: 0 2px 1px rgba(0,0,0,0.5), 0 0px 5px rgba(0,0,0,0.5);
	-moz-text-shadow: 0 2px 1px rgba(0,0,0,0.5), 0 0px 5px rgba(0,0,0,0.5);
	-ms-text-shadow: 0 2px 1px rgba(0,0,0,0.5), 0 0px 5px rgba(0,0,0,0.5);
    text-shadow: 0 2px 1px rgba(0,0,0,0.5), 0 0px 5px rgba(0,0,0,0.5);
}
.ps-button.grey-button {
	background-color: #aaa;
}
.ps-button.grey-button:focus, .ps-button.grey-button:hover {
	background-color: #bbb;
}
a.ps-button {
	display: inline-block;
	text-decoration: none;
    height: auto;
    line-height: 28px;
    padding-top: 6px;
    padding-bottom: 6px;
}
a.ps-button.small-button {
	font-size: 1em;
}
a.ps-button:hover, a.ps-button-link:hover {
	text-decoration: none;
}
a.ps-button:active {
	padding-top: 6px;
}

/* FOR IE9 */
.OldIEBox{
	display:inline-block;width:350px;background-color:#00385c;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25) inset; 
	border:solid 1px #000000;
	border-radius:0.25em;
	margin-bottom:23px;
}

.selectOldIE{
	width:315px;display:inline;overflow:hidden;
	float:left; 
	background-color:#00385c;
	height:41px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.25) inset; 
	margin-left:5px;     
}

html[dir="rtl"] .selectOldIE {
	float:right;
}

.dropdownOldIE {
	background: #00385c; 
	width: 341px;
	height: 33px;
	font-size:15px;
	font-weight:bold;
	color:#FFFFFF;
	border:none;
	outline:none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	margin-top:5px; 
}



.selectArrowOldIE{
	width:24px;height:100%;padding:0;border:0;
	background-color:#FFFFFF;
	position:relative;
}

.selectArrowOldIE img{
	position:absolute;
	top:10px;
}

.ps_select_arrow{
	width:24px;height:100%;padding:0;border:0;
	background-color:#FFFFFF;
	position:relative;
}

.ps_select_arrow img{
	position:absolute;
	top:10px;
}
/* END OF IE9 */




.ps_box-staticimg {
	display: inline-block;
	position: relative;
}

.signInText .ps-text:before {
	content: "|";
	display: inline-block;
	margin: 0 0.5em;
	vertical-align: top;
	font-weight: normal;
	color: rgba(0,051,102,0.5);
}


.ps_footer_text {
	font-size: 12px;
	color: #666;
	text-align:center;
	padding: 0 15px;
}

.ps_lan_special {
	margin-top: .5em;
}

.ps_login_error {
	text-align: center;
	margin-top: 20px;
	color: #a94442;
	background-color: #f2dede;
	padding: 10px 5px;
	border: 1px solid #ebccd1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 400px;
	margin: 30px auto 0;
	font-size: 13px;
}
#error_link {
	display: inline-block;
    width: 20px;
    vertical-align: middle;
}
#error_link img {
	display: block;
    width: 100%;
    height: auto;
}
.ps_login_error .ps_login_error_inner {
	
}

#ptloginerrorcont, #login_error, #discovery_error {
	display:none;
}

#login_error {
	font-size: 1em;
	font-weight:bold;
	display: inline-block;
    vertical-align: middle;
}

.psloginerror span {
	color: #FFFFFF;
}

#browsercheck_error div {
	color: #000000;
	font-weight:normal;
	white-space: nowrap;
	width:auto;
}

#browsercheck_error div > div {
	display: inline-block;
	padding-right: 2em;
	text-align: right;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html[dir='rtl'] #browsercheck_error div > div {
	text-align:left;
	padding-right:0em;
	padding-left:0.76em;
}

.ps-staticimg {
	max-width: 394px;
    height: auto;
    display: block;
    margin: 0 auto;
    left: -5px;
    position: relative;
}

#pttracesettings {
    text-align: left;
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 15px;
}

/* smartphones */
@media only screen and (max-width: 420px) {
	
	.signon-main {
		padding-top: 30px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.ps-staticimg {
		max-width:90%;
		min-width: 200px;
		height: auto;
		left: 0;
	}
	
	#ps-img {
		width: auto;
		max-width: 400px;
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 20px;
	}
	
	.ps_login_error {
		margin-top: 15px;
		padding: 10px;
		width: 90%;
	}
	
	#login_error {
		font-size: 0.85em;
		margin-top: 0;
	}
}

@media (min--moz-device-pixel-ratio: 1.3), 
(-o-min-device-pixel-ratio: 2.6 / 2), 
(-webkit-min-device-pixel-ratio: 1.3), 
(min-device-pixel-ratio: 1.3), 
(min-resolution: 1.3dppx) {
	.field.w-img {
		background-image: url(".images/un_user@2x.png");
		background-size: auto 22px;
	}
	.field.w-img.pwd {
		background-image: url(".images/un_lock@2x.png");
		background-size: auto 22px;
	}
}