
/* 버튼 영역 타입 */
.btnAreaTab { position:absolute; top:3px; right:0;}
.btnArea, .tableTy1 .btnArea, .tableTy2 .btnArea { width:100%; overflow:hidden; margin:0; text-align:right; }
.btnAreaTy1 { margin:20px 0 0; text-align:center; }
.btnAreaTxtL { width:100%; margin:8px 0; text-align:left; }
.btnAreaTop { margin:8px 0; text-align:right; }
.btnAreaLeft { clear:both; overflow:hidden; margin-bottom:10px; text-align:left; line-height:23px; color:#005699; }

/* Table Guide */
table tr.hide { display:none; }
table tr.hide td, table tr.hide th { border:0 !important; }
table td.tC { padding-left:3px !important; padding-right:3px !important; }
table td.p0 {padding:0 !important;}

/* 기본 테이블 */
.tableTy1 { clear:both; width:100%; overflow:hidden; border-top:1px solid #838383; }
.tableTy1 table.data { width:100%; margin-left:-1px; margin-top:-1px; border-bottom:1px solid #838383; background:#fff; }
.tableTy1 table.data th { padding:6px 6px 6px 6px; color:#0b2e47; border-top:1px solid #ddd; border-left:1px solid #ddd; background-color:#f0f3f5; }
.tableTy1 table.data td { padding:8px 12px 8px 7px; border-top:1px solid #ddd; border-left:1px solid #ddd; }
.tableTy1 table.data td img { vertical-align:middle; margin-top:-2px; }
.tableTy1 table.data td img { vertical-align:top \0/IE8+9; }
.tableTy1 table.data .btn { margin-top:0 !important; }
.tableTy1 table.data .noLine { border-left:0 !important; }
.tableTy1 table.rowCheck td { cursor:pointer; }
.tableTy1 table.data a, a code { color:#0f50a5!important;text-decoration:none;}
.tableTy1 table.data a:hover, a:active { color:#0093e0!important; text-decoration:underline;}

/* 라운드 테이블 주로 검색조건 */
.tableTy2 .dataArea { position:relative; width:100%; clear:both; }
.tableTy2 .dataArea + .dataArea { margin-top:10px; }
.tableTy2 table.data { width:100%; border:1px solid #c6c6c6; background:#fff; }
.tableTy2 table.data th { height:25px; padding:5px 7px 5px 7px; color:#0b2e47; font-weight:normal; text-align:left; border-top:1px solid #e1e1e1; border-left:1px solid #ddd;  background-color:#ebf3f8; }
.tableTy2 table.data .noLine { border-left:0 !important; }
.tableTy2 table.data th .th { display:inline-block; padding-left:7px; }
.tableTy2 table.data td { padding:6px 12px 6px 7px; border-top:1px solid #e1e1e1; border-left:1px solid #ddd; }
.tableTy2 table.data tr:first-child th, .tableTy2 table.data tr:first-child td { border-top-width:0; }
.tableTy2 table.data+table.data { margin-top:10px; }
.tableTy2 .dataArea .rtl, .tableTy2 .dataArea .rtr,
.tableTy2 .dataArea .rbl, .tableTy2 .dataArea .rbr { position:absolute; z-index:2; width:6px; height:6px; background:url("../images/common/radius_bg.png") 0 0 no-repeat; }
.tableTy2 .dataArea .rtl { top:0; left:0; background-position:0 0; }
.tableTy2 .dataArea .rtr { top:0; right:0; background-position:-6px 0; }
.tableTy2 .dataArea .rbl { bottom:0; left:0; background-position:0 -6px; }
.tableTy2 .dataArea .rbr { bottom:0; right:0; background-position:-6px -6px; }
.tableTy2 table.data th.thBg {background-color:#e0ecf2 !important;}
.tableTy2 table.data td.thBg {background-color:#f0f3f5 !important;}
.tableTy2 table.data td.thBg2 {background-color:#e6f2e0 !important;}
.tableTy2 table.data a, a code { color:#0f50a5!important;text-decoration:none;}
.tableTy2 table.data a:hover, a:active { color:#0093e0!important; text-decoration:underline; }


/* 팝업 테이블 */
.tableTy3 { clear:both; width:100%; overflow:hidden; border-top:1px solid #838383; }
.tableTy3 table.data { width:100%; margin-left:-1px; margin-top:-1px; }
.tableTy3 table.data th { padding:6px 6px 6px 6px; color:#0b2e47; border-top:1px solid #ddd; border-left:1px solid #ddd; background-color:#f0f3f5; }
.tableTy3 table.data td { padding:8px 12px 8px 12px; border-top:1px solid #ddd; border-left:1px solid #ddd; }
.tableTy3 table.data a, a code { color:#0f50a5!important;text-decoration:none;}
.tableTy3 table.data a:hover, a:active { color:#0093e0!important; text-decoration:underline;}

/* 달력 테이블 */
#calendar { clear:both; width:285px; border:solid 7px #e8e8e8; z-index:3;}
.edtbCal { width:99.4%; border-right:1px solid #ddd; border-left:1px solid #ddd; }
.edtbCal td { vertical-align:top;}
.edtbCal td b{ text-align:right !important; display:block;}
.edtbCal td.today {background-color:#ecf5fc;font-weight:bold;}
.edtbCal td.today b {color:#267ab8;}
.edtbCal td.otherDay{color:#bbb; }
.edtbCal td.otherDay.day_sun{color: #FFB9B9; }
.edtbCal td.otherDay.day_sat{color:#b2ccff; }
.day_sun{ color:#be5233}
.day_sat{ color:#4984d9}
.boxTy1 { background:#f6f6f6; }
.month{ margin:0; padding:10px 0 10px 0; font-weight:bold; }
.month em { font-size:14px; font-weight:bold; }
.year { height:30px; line-height:32px; background:#555; text-align:center; font-size:14px; font-weight:bold; color:#fff; }


/* 페이지 */
.boardNavigation { clear:both; width:100%; margin-top:40px; margin-bottom:20px;}
.boardNavigation ul { text-align:center; }
.boardNavigation li {vertical-align:middle; **:display:inline;}
.boardNavigation li a {text-decoration:none; font-size:12px;padding:0 6px;  color:#666}
.boardNavigation li a.bgnone{background:none}
.boardNavigation li a:hover, a:active {color:#0093e0!important;}
.boardNavigation li.selected a {font-size:13px; font-weight:bold;color:#ec6321;}
 
.prev_page {width:20px; height:20px; background:url(../images/common/paging_prev.gif);margin:0 2px; cursor:pointer;}
.next_page {width:20px; height:20px; background:url(../images/common/paging_next_on.gif); margin:0 2px;cursor:pointer;}
 
.first_page {width:20px; height:20px; background:url(../images/common/paging_first.gif);cursor:pointer;margin:0 2px;}
.last_page {width:20px; height:20px; background:url(../images/common/paging_last_on.gif);cursor:pointer;margin:0 2px;}

/* 게시판 하단 영역*/
.page {list-style: none; margin-top: 20px}
.page li {display:inline-block; vertical-align:middle;}

/* 페이징 목록 갯수 설정 */
.pageListNum{ float:right; padding-top:10px; }


/* 팝업 영역*/
#popWrap { position:relative; width:100%; padding-bottom:2px; background:#fff url("../images/common/pop_bg.jpg") 0 100% repeat-x; }
#popWrap .popHeader { position:relative; height:49px; background:url("../images/common/pop_header_bg.jpg") 0 0 no-repeat; }
#popWrap .popHeader .right { position:absolute; top:0; right:0; width:80px; height:49px; overflow:hidden; white-space:nowrap; text-indent:-999px; background:url("../images/common/pop_header_bg.jpg") 100% 0 no-repeat; }
#popWrap .popHeader .title { padding:11px 0 0 18px; font-size:20px; line-height:29px; font-weight:bold; font-family: Arial, Tahoma, dotum, sans-serif; color:#fff !important;}
#popWrap .popHeader .Close { position:absolute; right:8px; top:5px; width:36px; height:36px; overflow:hidden; white-space:nowrap; text-indent:-9999px; font-size:0; background:url("../images/common/btn_close.gif") 0 0 no-repeat; }

#popWrap .popContainer { position:relative; z-index:2; padding:20px 18px 79px; border-left:1px solid #dad9d9; border-right:1px solid #dad9d9; }
#popWrap .popContainer div:first-child { margin-top:0; }
	.popContainer .titleTy1:first-child { margin-top:0 !important; }
	.popContainer .tabTy1 ul { background-position:0 33px; }
	.popContainer .tabTy1 li { padding-bottom:7px; min-width:4em; }
	.popContainer .tabTy1 li a { height:22px; padding-top:11px; }
	.popContainer .tabTy1 li.on { position:relative; background-position:50% 24px; }

#popWrap .popFooter { position:fixed ; bottom:0; left:0; z-index:100; width:100%; padding:10px 0 8px; text-align:center; background-color:#81898e; }
#popWrap .popFooter label{color:#000; }
#popWrap .checkPoint { margin-top:30px; }
#popWrap .tabTy1 ul li {width:auto;}
#popWrap .tabTy1 ul li a {padding-left:20px;padding-right:20px}

/* height:100% Start */
#popWrap { min-height:100%; padding:0; background:#fff; border-left:1px solid #dad9d9; border-right:1px solid #dad9d9; }
#popWrap .popHeader { width:100%; padding:0 1px 0; margin:0 -1px; background-color:#ebebeb; background-position:0; }
#popWrap .popHeader .right { top:0; }
#popWrap .popContainer { border-left:0; border-right:0; }
#popWrap .popRoundL, #popWrap .popRoundR { display:none; }
/* height:100% End */

/* 사이트맵 영역*/
.sitemap_w { width:100%; overflow:hidden;}
.sitemap { float:left; width:223px; }
.sitemap p { line-height:20px; font-size:14px; font-weight:bold; color:#09427d; border-top:solid 2px #00a8e7; border-bottom:dotted 1px #bfbfbf; padding:10px 0 10px 0; }
.sitemap ul { border-bottom:none !important; }
.Firstlist { color:#0a8bce; font-size:12px; line-height:18px; border-bottom: solid 1px #e3e8e9; padding:10px 0 10px 0; }
.Lastlist { color:#0a8bce; font-size:12px; line-height:18px; border-bottom: solid 1px #aeaeae; padding:10px 0 10px 0; }
.bullet { background:url("../images/common/dot.gif") 0 7px no-repeat; padding-left:7px; line-height:18px; font-weight:normal; color:#777 !important;}
.bullet a:hover, a:active { color:#0093e0!important; text-decoration:underline;}

/* content layout */
#con_wrap { clear:both; width:100%; overflow:hidden; margin-top:25px; padding-bottom:70px; background:url("../images/sub/sub_bg.gif") left top repeat-y; }
.left_w { float:left; width:220px; }
.user { width:218px; height:100px; margin:0 1px 1px 1px; background:#f5f5f5; border-top:solid 1px #dadada; font-family: Arial, Geneva, dotum,  sans-serif; }
.user ul { height:60px; background:url("../images/sub/person.png") 24px 30px no-repeat; padding:26px 0 0 76px; }
.user ul li { font-size:11px; line-height:17px; }
.leftmenu { width:220px; background:url("../images/sub/leftbg.gif") 0 0 no-repeat;  }
.leftmenu h2 { width:180px; height:60px; line-height:22px; font-family: "Trebuchet MS", Arial, Helvetica, dotum, sans-serif; background:#526c87; color:#dbedfd; background:url("../images/sub/line.gif") 25px 16px no-repeat; font-size:20px; padding:25px 0 0 25px; }
.menu { margin-top:20px; font-family: Tahoma, Geneva, dotum,  sans-serif;  }
.menu .depth1_on { background:url("../images/sub/ico_down.gif") 193px 14px no-repeat; color:#0a8bce; font-size:15px; line-height:31px; }
.menu .depth1_on ul { background:url("../images/sub/menuline.gif") 0 bottom no-repeat; padding:3px 0 10px 0 !important; }
.menu .depth1_on a { color:#0a8bce !important; }
.menu .depth1_on2 { background:url("../images/sub/ico_r.gif") 193px 12px no-repeat; color:#0a8bce; font-size:15px; line-height:31px; }
.menu .depth1_on2 a { color:#0a8bce !important; }

.menu .depth1{ color:#555; font-size:15px; line-height:31px; }
.menu .depth1 ul {background:url("../images/sub/menuline.gif") 0 bottom no-repeat; padding:3px 0 10px 0 !important; }
.menu .depth1 a { color:#555 !important; }
.menu .depth1 span a:hover, a:active { color:#0a8bce !important; }

.menu .depth2_on { line-height:29px; color:#fff; background:url("../images/sub/depth2on.gif") 0 0 no-repeat; padding-left:32px; }
.menu .depth2 { color:#7d7d7d; line-height:29px; background:url("../images/sub/ico_dot_g.gif") 25px 13px no-repeat; padding-left:32px; }
.menu .depth2_on a { text-decoration:none; color:#fff !important; }
.menu .depth2 a { color:#7d7d7d !important; }
.menu .depth2 a:hover, a:active { text-decoration:none; color:#0a8bce !important; }

.content { float:left; width:720px; margin-left:40px; overflow:hidden; }
.content h3 { font-size:21px; font-family:Tahoma, dotum; }
.Location { width:720px; height:35px; background:#f0f3f6; color:#878787; line-height:35px; padding-left:20px; margin-top:20px; }
.con { float:left; width:720px; margin-top:40px;}

#copy_w { clear:both; color:#606060; width:100%; height:75px; border-top:solid 2px #252525; padding-top:10px; }


/* login layout */
#login_wrap { width:100%; }
.login { width:720px; margin:80px auto; }
.loginbox { width:620px; height:381px; background:url("../images/login/login_bg.gif") 0 0 no-repeat; margin-top:20px; padding:0 50px 0 50px; }
.titleTy2 { width:300px; height:72px; line-height:27px; padding-top:10px; }
.loginbox ul { height:160px; background:url("../images/login/computer.jpg") 0 53px no-repeat; padding-top:53px; }
.loginbox ul li { margin-left:240px; line-height:18px; }
.loginbtn { width:113px; height:45px; color:#fff; background:url("../images/login/btnbg.gif") 0 0 no-repeat; margin-top:20px; font-size:16px; line-height:43px; font-weight:bold; text-align:center; }
.loginbtn a, a:hover, a:active { color:#fff !important; }
.mainlink { height:20px; line-height:20px; border-top:solid 1px #bcbdbe; margin-top:20px; padding-left:241px; padding-top:20px; color:#464646; }
.logincopy { color:#898989; margin-top:25px; margin-bottom:50px; }


.bullet4 { clear:both; background:url("../images/sub/bullet.gif") 0 3px no-repeat; font-size:18px; padding-left:20px; line-height:20px; font-weight:normal; color:#274f85 !important; margin-bottom:12px; font-family:Tahoma, dotum; }
.bullet4_k { clear:both; float:left; width:400px; background:url("../images/sub/bullet.gif") 0 2px no-repeat; font-size:14px; padding-left:18px; line-height:18px; font-weight:bold; color:#274f85 !important; margin-bottom:12px; font-family:Tahoma, dotum; }
.bullet5 { clear:both; background:url("../images/sub/ico_dot_g.gif") 0 8px no-repeat; font-size:12px; padding-left:7px; line-height:18px; font-weight:normal; color:#7f7f7f!important; }


/* 마이페이지 */
.tree_area { clear:both; float:left; width:278px; height:523px; border:1px solid #ddd; margin-bottom:15px; padding:10px; overflow-y:scroll; }
.tree_list { float:right; width:400px; height:523px; margin-bottom:15px; }
.boxTy2 { float:left; width:300px; margin-bottom:10px; }
.boxTy3 { float:right; }
.boxTy4 { width:100%; clear:both; overflow:hidden; }
.btn_wrap { float:left; }
.btn_wrap2 { float:right; }

/* 예외상황발생 */
.vtable_outer { display:table; position:absolute; height:100%; width:100%; }
.vtable_middle { height:100%; display: table-cell; vertical-align: middle; }
.boxTy5 { width:710px; height:250px; margin:0 auto; border:solid 5px #ced6de; background:url("../images/sub/exception.gif") 75px 63px no-repeat; }
.txt1 { font-size:15px; color:#707070; font-family:Tahoma, dotum; }
.txt2 { font-size:33px; color:#174a80;  font-family:Tahoma, dotum; }
.txt3 { font-size:12px; color:#636363;  font-family:Tahoma, dotum; }
.interval { width:450px; margin:53px 0 0 240px; }

/* alert */
.boxTy6 { position:relative; width:300px; border:solid 2px #8a8a8a; background:#f4f0e9; }
.interval2 { text-align:center; padding:20px; background:url("../images/sub/alert_bg.gif") 20px 20px no-repeat; }
.interval3 { text-align:center; padding:20px; background:url("../images/sub/alert_bg2.gif") 20px 20px no-repeat; }
.interval4 { text-align:center; padding:20px; background:url("../images/sub/alert_bg3.gif") 20px 20px no-repeat; }

.greet { color: #626262; font-size:12px; line-height:20px; font-family:Verdana, dotum; }
















